body {
	background-color: #97BC62FF;
}
a {
	color: #2C5F2D;
}
input[type=text] {
	width: 80%;
}
input[type=number] {
	width: 15%;
}
table{
	background-color: rgb(97,192,123);
	color: rgb(40,90,55);
	border: rgb(40,90,55);
}
#playerLeague {
	width: 80%
}
nav {
    text-align: center;
}