body {
	background-color: #97BC62FF;
}
a {
	color: #2C5F2D;
}
a:hover{
	color: rgb(90,120,50);
}
input[type=text] {
	width: 80%;
}
input[type=number] {
	width: 15%;
}
input[type=checkbox] {
	width: 10%;
}
#keret{
	background-color: rgb(97,192,123);
	color: rgb(40,90,55);
	border: rgb(40,90,55);
}
#playerLeague {
	width: 80%
}
nav {
	text-align: center;
	background-color: rgb(120,160,70);
	font-size: 20px;
}
#leiras {
	width: 50%;
	font-size: 20px;
}
#gomb {
	background-color: #2C5F2D;
	float: right;
	font-size: 20px;
	font-weight: bold;
	width: 50%;
	border-color: black;
}
#gomb:hover{
	background-color: rgb(90,120,50);
}
#home1 {
	width: 60%;
	font-size: 18px;
	cellpadding: 10px;
}
#home2 {
	width: 40%;
}
#homeKep{
	border 20px solid #ddd;
	border-radius : 4px;
}